$mainColor: rgb(151, 43, 214);
$secondaryColor: #A9A9A9;
$bgColor: rgb(226, 226, 226);
$bgColorLight: rgb(240, 240, 240);
$fontDark: black;
$fontLight: white;
$innerWidth: 76rem;
$maxWidth: 94%;
$mainFontSize: 1.2rem;

$testColor: lightblue;

.test {
    background-color: $testColor;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1;
    background-color: $bgColor;
    overflow: auto;
}

.fullHeight {
    min-height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $fontDark;
}

ul {
    margin: 0;
    padding: 0;
}
label, input, p, span, button, div{
    font-size: $mainFontSize;
}

.centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCenterAllVert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerText {
    text-align: center;
}

.margin0Auto {
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

.inner {
    margin: 0 auto;
    width: $innerWidth;
    max-width: $maxWidth;
}

.flexContent {
    flex: 1;
    overflow: auto;
}

.fullSizeBg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainColor {
    color: $bgColor;
    background-color: $mainColor;
    
}


.textInput,
.mainSubmit {
    border-radius: 0.4rem;
    border: none;
}

.textInput {
    padding: 0.4rem 0.6rem;

}

.mainSubmit {
    display: block;
    padding: 0.4rem 3rem;
}

.textInputWrapper {
    position: relative;
    text-align: left;
    input{
        background-color: $bgColor;
        border: 0.05rem solid $secondaryColor;
        outline: none;
        min-width: 20rem;
        width: 100%;
    }
    label{
        cursor: text;
        display: flex;
        align-items: center;
        top: 0;
        margin: 0.45rem 0;
        padding: 0 0.3rem 0 0.1rem;
        left: 0.4rem;
        position: absolute;
        background-color: $bgColor;
        text-align: left;
        transition: top 0.4s;
    }
    &:focus-within, label.inputFilled{
        label{
            user-select: none;
            margin: 0;
            top: -0.7rem;
        }
    }
    label.inputFilled{
        user-select: none;
        margin: 0;
        top: -0.6rem;
    }
}

.checkInputWrapper{
    text-align: left;
}

.mainForm {
    padding: 1rem 0.8rem;
}

/* login signup password and stuff^^ */

.logSignWrapper {
    padding: 1rem 0;
    margin-top: 20vh;
    display: inline-block;

    h1{
        margin: 1rem 0 0 0;
    }

    .textInputWrapper{
        margin: 1.2rem auto 0 auto;
    }
    button{
        margin: 1.4rem auto 0 auto;
    }
    
}

#rememberForgotPasswordWrapper{
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-between;
    *{
        font-size: 1rem;
    }

}

/* end login */


/* nav */

nav {
    background-color: $bgColorLight;
    .inner {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        width: 24rem;
        max-width: 100%;
        justify-content: space-between !important;
    }

}

#createPostButton {
    font-weight: bold;
    background-color: $mainColor;
    color: $fontLight;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
}

#userNav {
    width: 12rem;
    display: flex;
    justify-content: space-between;
}

#profileLogOutWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* end nav */


/* index */

#infoContainer {
    min-height: 0.2rem;
}

.thumbnailGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 0.2rem;

    a {
        height: 12rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* end index */


/* display post screen */

#postLayout {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(10, 1fr); */
    display: flex;
}

#postOptions {
    padding-top: 4rem;
    padding-right: 1rem;
}

#postComments {
    min-width: 26rem;
    background-color: lightpink;
}

.ratePostWrapper {
    text-align: center;
    padding: 0.1rem 1rem;
    border-radius: 0.2rem;
    border: 0.04rem solid black;

    p {
        margin: 0.6rem 0.1rem;
        font-weight: bold;
    }
}

#postWrapper {
    flex: 1;
    /* grid-column: 1/8; */
    min-height: 16rem;

    img {
        width: 100%;
    }
}


/* end display post screen */

#uploadForm {
    margin-top: -4rem;
    background-color: $bgColor;
    border-radius: 1rem;
    width: 32rem;
    max-width: $maxWidth;
    border-radius: 0.6rem;
    overflow: hidden;
    padding-bottom: 1.6rem;

    #file {
        display: none;
    }

    #dropZoneWrapper {
        min-height: 18rem;
        width: 100%;
        overflow: hidden;
        position: relative;

        h3 {
            display: none;
        }

        img {
            display: block;
            width: 8rem;
            max-width: 80%;
            margin-bottom: 2rem;
        }

        &.dragOver {
            background-color: rgb(144, 144, 209);

            strong,
            span {
                display: none;

            }

            span {
                display: none;
            }

            h3 {
                display: block;
            }
        }

    }

    #dropZone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    #uploadPreview {
        display: none;
        position: relative;

        img {
            width: 100%;
        }

        .closeIcon {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &.showUploadPreview {
        #uploadPreview {
            display: block !important;
        }

        #dropZoneWrapper {
            display: none !important;
        }
    }

    .textInputWrapper {
        margin: 1.4rem auto 1.2rem auto;
        width: $maxWidth;
    }

}

#uploadInfo {
    * {color: black};
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.4rem;
    background-color: rgba(239, 239, 239, 0.733);
}






.closeIcon {
    border-radius: 10rem;
    background-color: white;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
}

.fancyShadow {
    border-radius: 0.6rem;
    box-shadow: 0.4rem 0.2rem 0.5rem rgba(220, 220, 220, 1), -0.4rem -0.2rem 0.8rem rgba(255, 255, 255, 1), 1rem 1rem 1rem rgba(255, 255, 255, 0.25) inset;
}
