.test {
  background-color: lightblue;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #e2e2e2;
  overflow: auto;
}

.fullMinHeight {
  min-height: 100%;
}

.fullHeight {
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

label,
input,
p,
span,
button,
div {
  font-size: 1.2rem;
}

.centerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexCenterAllVert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centerText {
  text-align: center;
}

.textUpper {
  text-transform: uppercase;
}

.margin0Auto {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.inner {
  margin: 0 auto;
  width: 84rem;
  max-width: 94%;
}

.flexContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

.fullSizeBg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainColor {
  color: #e2e2e2;
  background-color: #9147ff;
}

.textInput,
.mainSubmit {
  border-radius: 0.4rem;
  border: none;
}

.textInput {
  padding: 0.4rem 0.6rem;
}

.mainSubmit {
  display: block;
  padding: 0.4rem 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainSubmit:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.textInputWrapper {
  position: relative;
  text-align: left;
}

.textInputWrapper input {
  background-color: #e2e2e2;
  border: 0.05rem solid #A9A9A9;
  outline: none;
  width: 100%;
}

.textInputWrapper input::-webkit-input-placeholder {
  opacity: 0;
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.textInputWrapper input:-ms-input-placeholder {
  opacity: 0;
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.textInputWrapper input::-ms-input-placeholder {
  opacity: 0;
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.textInputWrapper input::placeholder {
  opacity: 0;
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.textInputWrapper label {
  cursor: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  margin: 0.45rem 0;
  padding: 0 0.3rem 0 0.1rem;
  left: 0.4rem;
  position: absolute;
  background-color: #e2e2e2;
  text-align: left;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

.textInputWrapper:focus-within label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  top: -0.7rem;
  background-color: unset !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #e2e2e2), color-stop(40%, transparent));
  background-image: linear-gradient(#e2e2e2 60%, transparent 40%);
}

.textInputWrapper:focus-within input::-webkit-input-placeholder {
  opacity: 1;
  display: unset;
}

.textInputWrapper:focus-within input:-ms-input-placeholder {
  opacity: 1;
  display: unset;
}

.textInputWrapper:focus-within input::-ms-input-placeholder {
  opacity: 1;
  display: unset;
}

.textInputWrapper:focus-within input::placeholder {
  opacity: 1;
  display: unset;
}

.textInputWrapper label.inputFilled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  top: -0.7rem;
  background-color: unset !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #e2e2e2), color-stop(40%, transparent));
  background-image: linear-gradient(#e2e2e2 60%, transparent 40%);
}

.textInputWrapper label.inputFilled input::-webkit-input-placeholder {
  opacity: 1;
  display: unset;
}

.textInputWrapper label.inputFilled input:-ms-input-placeholder {
  opacity: 1;
  display: unset;
}

.textInputWrapper label.inputFilled input::-ms-input-placeholder {
  opacity: 1;
  display: unset;
}

.textInputWrapper label.inputFilled input::placeholder {
  opacity: 1;
  display: unset;
}

.checkInputWrapper {
  text-align: left;
}

.mainForm {
  padding: 1rem 0.8rem;
}

/* login signup password and stuff^^ */
.logSignWrapper {
  padding: 1rem 0;
  margin-top: 14vh;
  display: inline-block;
  width: 22rem;
  max-width: 94%;
  border-radius: 0.4rem;
}

.logSignWrapper h1 {
  margin: 1rem 0 0 0;
}

.logSignWrapper .textInputWrapper {
  margin: 1.2rem auto 0 auto;
}

.logSignWrapper button {
  margin: 1.4rem auto 0 auto;
}

#rememberForgotPasswordWrapper {
  margin-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#rememberForgotPasswordWrapper * {
  font-size: 1rem;
}

/* end login */
/* nav */
nav {
  background-color: #f0f0f0;
  /* #navLogo{
        padding-left: 0;
    } */
}

nav .inner {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .postNav {
  width: 28rem;
  max-width: 100%;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

nav .postNav .newPost {
  min-width: 8.4rem;
}

nav a {
  padding: 0.4rem 1rem;
}

nav a.active {
  border-bottom: 0.1rem solid #9147ff;
  /* border-top: 0.1rem solid $mainColor; */
}

#createPostButton {
  display: block;
  width: 100%;
  font-weight: bold;
  background-color: #9147ff;
  color: white;
  border-radius: 0.4rem;
  padding: 0.4rem 1rem;
}

#userNav {
  justify-self: end;
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#profileLogOutWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* #searchForm {
    overflow: hidden;
    border-radius: $mainRoundness;
    border: 0.06rem solid $mainColor;
    display: flex;
    justify-content: center;

    input[type="text"] {
        width: 14rem;
        padding-left: 0.6rem;
    }

    input[type="submit"] {
        width: 2rem;
        border: none;
    }
} */
#searchForm {
  width: 17rem;
  max-width: 100%;
  position: relative;
  display: inline-block;
  height: 2rem;
  z-index: 9;
}

#autoComplete {
  position: absolute;
  padding: 0 1rem 0 2rem;
  /* display: block; */
  margin: 0 auto;
  font-size: 1.2rem;
  height: 100%;
  max-width: 100%;
  border-color: #9147ff;
  color: black !important;
  caret-color: black !important;
  background-image: url("../icon/magnifier.svg");
  background-position: left 0.4rem top 0.4rem;
  width: 16.5rem;
  position: relative;
  font-size: 1.2rem;
  outline: none;
  border-radius: 50rem;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-origin: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-overflow: ellipsis;
}

#autoComplete::-webkit-input-placeholder {
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#autoComplete:-ms-input-placeholder {
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#autoComplete::-ms-input-placeholder {
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#autoComplete::placeholder {
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#autoComplete:hover::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:hover:-ms-input-placeholder {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:hover::-ms-input-placeholder {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:hover::placeholder {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus::-webkit-input-placeholder {
  opacity: 0.8;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#autoComplete:focus:-ms-input-placeholder {
  opacity: 0.8;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#autoComplete:focus::-ms-input-placeholder {
  opacity: 0.8;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#autoComplete:focus::placeholder {
  opacity: 0.8;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* #autoComplete::selection {
    color: transparent;
}

#autoComplete:focus::selection {
    color: #fff;
    background-color: rgba(255, 122, 122, 1);
} */
#autoComplete:hover {
  height: 2rem;
  background-size: 1.4rem;
  background-position: left 0.4rem top 0.3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#autoComplete:focus {
  height: 2rem;
  background-size: 1.4rem;
  background-position: left 0.4rem top 0.3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* box-shadow: rgba(255, 122, 122, 0.1) 0px 0px 20px 5px; */
}

#autoComplete_list {
  position: fixed;
  z-index: 1000;
  padding: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 16.5rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.autoComplete_result {
  margin: 0.15rem auto;
  padding: 0.6rem;
  max-width: 280px;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: #7b7b7b;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #fff;
}

.autoComplete_result::-moz-selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.autoComplete_result::selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.autoComplete_result:last-child {
  border-radius: 0 0 1rem 1rem;
}

.autoComplete_result:hover {
  cursor: pointer;
  background-color: rgba(255, 248, 248, 0.9);
  /* border-left: 2px solid rgba(255, 122, 122, 1);
    border-right: 2px solid rgba(255, 122, 122, 1); */
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.autoComplete_result:focus {
  outline: none;
  background-color: rgba(255, 248, 248, 0.9);
  /* border-left: 2px solid rgba(255, 122, 122, 1);
    border-right: 2px solid rgba(255, 122, 122, 1); */
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.autoComplete_highlighted {
  opacity: 1;
  /* color: rgba(255, 122, 122, 1); */
  font-weight: bold;
}

.autoComplete_highlighted::-moz-selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.autoComplete_highlighted::selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.autoComplete_selected {
  cursor: pointer;
  background-color: rgba(255, 248, 248, 0.9);
  /* border-left: 2px solid rgba(255, 122, 122, 1);
    border-right: 2px solid rgba(255, 122, 122, 1); */
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

/* @media only screen and (max-width: 600px) {
    #autoComplete {
        width: 5rem;
    }

    #autoComplete:focus {
        width: 11rem;
        background-size: 1.6rem;
        background-position: left 1.1rem top 0.75rem;
    }

    .autoComplete_result:first-child {
        border-radius: 1rem 1rem 0 0;
    }

    .autoComplete_result:last-child {
        border-radius: 0 0 1rem 1rem;
    }

    .autoComplete_result:only-child {
        border-radius: 1rem;
    }
} */
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
    #autoComplete {
        border-width: 1px;
    }

    #autoComplete:hover {
        border-width: 1px;
    }

    #autoComplete:focus {
        border-width: 1px;
    }
} */
/* @-moz-document url-prefix() {
    #autoComplete {
        border-width: 1px;
        background-size: 1.2rem;
        background-origin: border-box;
        background-position: center;
    }

    #autoComplete:hover {
        border-width: 1px;
    }

    #autoComplete:focus {
        border-width: 1px;
        background-position: left 1.1rem top 0.8rem;
    }
} */
/* end nav */
/* index */
#infoContainer {
  min-height: 0.2rem;
}

.thumbnailGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 0.2rem;
}

.thumbnailGrid a {
  height: 12rem;
}

.thumbnailGrid a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* end index */
/* display post screen */
#postLayout {
  /* overflow: hidden; */
  padding-top: 1rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

h1 {
  margin: 0 0 1rem 0;
}

#postOptionsFixed {
  position: fixed;
  margin-left: 0;
}

#postOptionsWrapper {
  position: relative;
  padding-top: 4rem;
  padding-right: 1rem;
}

#postFeed {
  overflow: auto;
  height: 80rem;
  max-height: 98%;
  padding: 0.2rem;
  border-radius: 0.3rem;
  margin-left: 0.6rem;
  width: 14rem;
}

#postFeed .postPreviewList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#postFeed .postPreviewList img {
  border-radius: 0.3rem;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#postFeed .postPreviewList .active img {
  border: 0.3rem solid #9147ff;
}

/* #postComments {
    min-width: 26rem;
    background-color: lightpink;
} */
#commentSection {
  padding: 4rem 0;
}

#commentSection #commentFormText {
  width: 100%;
}

#commentSection h3 {
  margin: 0.4rem 0;
}

#commentSection .commentItem {
  margin: 0.4rem 0;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  background-color: #f0f0f0;
}

#commentSection .commentItem .commentBody {
  min-height: 3rem;
}

.ratePostWrapper {
  text-align: center;
  padding: 0.1rem 0;
  width: 3rem;
  border-radius: 0.2rem;
  /* border: 0.04rem solid black; */
}

.ratePostWrapper p,
.ratePostWrapper a {
  font-size: 1.4rem;
  margin: 0.6rem 0.1rem;
  font-weight: bold;
}

.ratePostWrapper .upvote,
.ratePostWrapper .downvote {
  margin: 0 auto;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.ratePostWrapper .upvoteActive,
.ratePostWrapper .downvoteActive {
  color: #9147ff;
  border: 1px solid #9147ff;
}

#postWrapper {
  margin-left: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 16rem;
  /* overflow: hidden auto; */
}

#postWrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 80vh;
  width: 100%;
}

/* end display post screen */
#uploadForm {
  margin-top: -4rem;
  background-color: #e2e2e2;
  border-radius: 1rem;
  width: 32rem;
  max-width: 94%;
  border-radius: 0.6rem;
  overflow: hidden;
  padding-bottom: 1.6rem;
}

#uploadForm #file {
  display: none;
}

#uploadForm #dropZoneWrapper {
  min-height: 18rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#uploadForm #dropZoneWrapper h3 {
  display: none;
}

#uploadForm #dropZoneWrapper img {
  display: block;
  width: 8rem;
  max-width: 80%;
  margin-bottom: 2rem;
}

#uploadForm #dropZoneWrapper.dragOver {
  background-color: #9090d1;
}

#uploadForm #dropZoneWrapper.dragOver strong,
#uploadForm #dropZoneWrapper.dragOver span {
  display: none;
}

#uploadForm #dropZoneWrapper.dragOver span {
  display: none;
}

#uploadForm #dropZoneWrapper.dragOver h3 {
  display: block;
}

#uploadForm #dropZone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#uploadForm #uploadPreview {
  display: none;
  position: relative;
}

#uploadForm #uploadPreview img {
  width: 100%;
}

#uploadForm #uploadPreview .closeIcon {
  position: absolute;
  right: 0;
  top: 0;
}

#uploadForm.showUploadPreview #uploadPreview {
  display: block !important;
}

#uploadForm.showUploadPreview #dropZoneWrapper {
  display: none !important;
}

#uploadForm .textInputWrapper {
  margin: 1.4rem auto 1.2rem auto;
  width: 94%;
}

#uploadForm .tagsInputWrapper.inputFilled {
  display: none;
}

#uploadInfo {
  border-radius: 5rem;
  padding: 1rem;
  font-size: 1.4rem;
  background-color: rgba(239, 239, 239, 0.733);
}

#uploadInfo * {
  color: black;
}

.closeIcon {
  border-radius: 10rem;
  background-color: white;
  height: 2rem;
  width: 2rem;
  font-weight: bold;
}

.fancyShadow {
  -webkit-box-shadow: 0.4rem 0.2rem 0.5rem lightgray, -0.4rem -0.2rem 0.8rem white, 1rem 1rem 1rem rgba(255, 255, 255, 0.25) inset;
          box-shadow: 0.4rem 0.2rem 0.5rem lightgray, -0.4rem -0.2rem 0.8rem white, 1rem 1rem 1rem rgba(255, 255, 255, 0.25) inset;
}

#alertSection {
  z-index: 4;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 10rem;
  width: 100%;
  padding: 1rem 0;
}

#alertSection .alertWrapper {
  position: relative;
  width: 32rem;
  max-width: 94%;
  min-height: 10rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#alertSection .closeIcon {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}
/*# sourceMappingURL=app.css.map */