.test {
  background-color: lightblue;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ebebeb;
  overflow: auto;
}

.fullHeight {
  min-height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.centerAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexCenterAllVert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centerText {
  text-align: center;
}

.margin0Auto {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.inner {
  margin: 0 auto;
  width: 76rem;
  max-width: 94%;
}

.flexContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

.fullSizeBg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainColor {
  background-color: greenyellow;
}

.textInput,
.mainSubmit {
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border: none;
}

.textInput {
  padding: 0.1rem 0.6rem;
}

.mainSubmit {
  padding: 0.4rem 3rem;
}

.textInputWrapper {
  position: relative;
  width: 94%;
  text-align: left;
}

.textInputWrapper input {
  padding: 0.5rem 0.6rem;
  background-color: #ebebeb;
  border: 0.1rem solid greenyellow;
  outline: none;
  width: 100%;
}

.textInputWrapper label {
  cursor: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  margin: 0.5rem 0;
  padding: 0 0.3rem 0 0.1rem;
  left: 0.4rem;
  position: absolute;
  background-color: #ebebeb;
  text-align: left;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

.textInputWrapper:focus-within label, .textInputWrapper label.inputFilled label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  top: -0.6rem;
}

.textInputWrapper label.inputFilled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  top: -0.6rem;
}

.mainForm {
  padding: 1rem 0.8rem;
}

/* login signup password and stuff^^ */
.logSignWrapper {
  padding: 2rem 0;
  margin-top: 20vh;
  display: inline-block;
}

.logSignWrapper .textInputWrapper {
  margin-top: 1rem;
}

/* end login */
/* nav */
nav {
  background-color: greenyellow;
}

nav .inner {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  width: 24rem;
  max-width: 100%;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

#createPostButton {
  border-radius: 0.4rem;
  background-color: white;
  padding: 0.4rem 1rem;
}

#userNav {
  width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#profileLogOutWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* end nav */
/* index */
#infoContainer {
  min-height: 0.2rem;
}

.thumbnailGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 0.2rem;
}

.thumbnailGrid a {
  height: 12rem;
}

.thumbnailGrid a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* end index */
/* display post screen */
#postLayout {
  width: 100%;
  /* display: grid;
    grid-template-columns: repeat(10, 1fr); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#postOptions {
  padding-top: 4rem;
  padding-right: 1rem;
}

#postComments {
  min-width: 26rem;
  background-color: lightpink;
}

.ratePostWrapper {
  text-align: center;
  padding: 0.1rem 1rem;
  border-radius: 0.2rem;
  border: 0.04rem solid black;
}

.ratePostWrapper p {
  margin: 0.6rem 0.1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#postWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* grid-column: 1/8; */
  min-height: 16rem;
}

#postWrapper img {
  width: 100%;
}

/* end display post screen */
#uploadForm {
  font-size: 1.2rem;
  margin-top: -4rem;
  background-color: #ebebeb;
  border-radius: 1rem;
  width: 32rem;
  max-width: 94%;
  border-radius: 0.6rem;
  overflow: hidden;
  padding-bottom: 1.6rem;
}

#uploadForm #file {
  display: none;
}

#uploadForm #dropZoneWrapper {
  min-height: 18rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#uploadForm #dropZoneWrapper h3 {
  display: none;
}

#uploadForm #dropZoneWrapper img {
  display: block;
  width: 8rem;
  max-width: 80%;
  margin-bottom: 2rem;
}

#uploadForm #dropZoneWrapper.dragOver {
  background-color: #9090d1;
}

#uploadForm #dropZoneWrapper.dragOver strong,
#uploadForm #dropZoneWrapper.dragOver span {
  display: none;
}

#uploadForm #dropZoneWrapper.dragOver span {
  display: none;
}

#uploadForm #dropZoneWrapper.dragOver h3 {
  display: block;
}

#uploadForm #dropZone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#uploadForm #uploadPreview {
  display: none;
  position: relative;
}

#uploadForm #uploadPreview img {
  width: 100%;
}

#uploadForm #uploadPreview .closeIcon {
  position: absolute;
  right: 0;
  top: 0;
}

#uploadForm.showUploadPreview #uploadPreview {
  display: block !important;
}

#uploadForm.showUploadPreview #dropZoneWrapper {
  display: none !important;
}

#uploadForm .textInput {
  display: block;
  width: 98%;
  margin: 0.4rem auto 1.2rem auto;
}

#uploadInfo {
  border-radius: 5rem;
  padding: 1rem;
  font-size: 1.4rem;
  background-color: rgba(220, 220, 220, 0.4);
}

.closeIcon {
  border-radius: 10rem;
  background-color: white;
  height: 2rem;
  width: 2rem;
  font-weight: bold;
}

.fancyShadow {
  border-radius: 0.6rem;
  -webkit-box-shadow: 0.4rem 0.2rem 0.5rem gainsboro, -0.4rem -0.2rem 0.8rem white, 1rem 1rem 1rem rgba(255, 255, 255, 0.25) inset;
          box-shadow: 0.4rem 0.2rem 0.5rem gainsboro, -0.4rem -0.2rem 0.8rem white, 1rem 1rem 1rem rgba(255, 255, 255, 0.25) inset;
}
/*# sourceMappingURL=app.css.map */